<div class="nav-conteneur">
  <div class="nav-conteneur-items">
    <div class="nav-items-brand">
      <a href="<%=flats_path%>" class= "text-decoration-none">
      <img src="https://i.imgur.com/XQg5y9o.png" alt="HomeGen Logo" width="130px">
      </a>
    </div>
    <div class="nav-items-search">
      <div class="search-bar">
        <div class="where-search">
        </div>
        <div class="when-search">
        </div>
        <div class="when-search">
        </div>
        <div class="search-icon">
          <i class="fa-solid fa-magnifying-glass fa-xl" style="color: #25316d;"></i>
        </div>
      </div>
      <i class="fa-solid fa-sliders fa-xl" style="color: #25316d;"></i>
    </div>
    <div class="nav-items-icons">
      <i class="fa-solid fa-heart fa-xl" style="color: #25316d;"></i>
      <i class="fa-solid fa-user fa-xl" style="color: #25316d;"></i>
    </div>
  </div>
</div>
