<%# <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid conteneur">
    <a class="navbar-brand" href="#">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
    </a>
    <div class="search-bar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          Hello
        </li>
        <li class="nav-item active">
          Hello
        </li>
        <li class="nav-item active">
          Hello
        </li>
        <li class="nav-item active">
          Hello
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Messages</a>
          </li>
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
            </div>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div> %>

<div class="nav-conteneur">
  <div class="nav-conteneur-items">
    <div class="nav-items-brand">
      <img src="https://i.imgur.com/XQg5y9o.png" alt="HomeGen Logo">
    </div>
    <div class="nav-items-search">
      <div class="search-bar">
        <div class="where-search">
        </div>
        <div class="when-search">
        </div>
        <div class="when-search">
        </div>
        <div class="search-icon">
          <i class="fa-solid fa-magnifying-glass fa-xl" style="color: #25316d;"></i>
        </div>
      </div>
    </div>
    <div class="nav-items-icons">
      <i class="fa-solid fa-heart fa-2xl" style="color: #25316d;"></i>
      <i class="fa-solid fa-sliders fa-2xl" style="color: #25316d;"></i>
      <i class="fa-solid fa-user fa-2xl" style="color: #25316d;"></i>
    </div>
  </div>
</div>
