<%= render 'pages/navbar' %>


<div class="title-conteneur">
  <h2>Résultats pour Nice :</h2>
</div>
<div class="conteneur-grille">
  <div class="flat-card">
    <div class="top-card">
      <div class="flat-profile">
        <i class="fa-solid fa-circle" style="color: #00ff04;"></i>
        <p>giselle78</p>
      </div>
      <div class="flat-locality">
        <i class="fa-solid fa-location-pin" style="color: #25316d;"></i>
        <p>Nice</p>
      </div>
    </div>
    <div class="flat-picture">

    </div>
    <div class="flat-icons-price">
      <div class="card-icons">
        <i class="fa-regular fa-heart fa-xl" style="color: #25316d;"></i>
        <i class="fa-solid fa-pen-to-square fa-xl" style="color: #25316d;"></i>
        <i class="fa-regular fa-message fa-xl" style="color: #25316d;"></i>
      </div>
      <div class="flat-price">
        <p><strong>250€/mois</strong></p>
      </div>
    </div>
    <%# <div class="bottom-card">
      <h4>Superbe appartement</h4>
      <p>Autonomie : 1/5</p>
    </div> %>
  </div>
  <div class="flat-card">
    <div class="top-card">
      <div class="flat-profile">
        <i class="fa-solid fa-circle" style="color: #00ff04;"></i>
        <p>giselle78</p>
      </div>
      <div class="flat-locality">
        <i class="fa-solid fa-location-pin" style="color: #25316d;"></i>
        <p><strong>Nice</strong></p>
      </div>
    </div>
    <div class="flat-picture">

    </div>
    <div class="flat-icons-price">
      <div class="card-icons">
        <i class="fa-regular fa-heart fa-xl" style="color: #25316d;"></i>
        <i class="fa-solid fa-pen-to-square fa-xl" style="color: #25316d;"></i>
        <i class="fa-regular fa-message fa-xl" style="color: #25316d;"></i>
      </div>
      <div class="flat-price">
        <p><strong>250€/mois</strong></p>
      </div>
    </div>
    <div class="bottom-card">
      <h4>Superbe appartement</h4>
      <p>Autonomie : 1/5</p>
    </div>
  </div>
  <div class="flat-card">
    <div class="top-card">
      <div class="flat-profile">
        <i class="fa-solid fa-circle" style="color: #00ff04;"></i>
        <p>giselle78</p>
      </div>
      <div class="flat-locality">
        <i class="fa-solid fa-location-pin" style="color: #25316d;"></i>
        <p><strong>Nice</strong></p>
      </div>
    </div>
    <div class="flat-picture">

    </div>
    <div class="flat-icons-price">
      <div class="card-icons">
        <i class="fa-regular fa-heart fa-xl" style="color: #25316d;"></i>
        <i class="fa-solid fa-pen-to-square fa-xl" style="color: #25316d;"></i>
        <i class="fa-regular fa-message fa-xl" style="color: #25316d;"></i>
      </div>
      <div class="flat-price">
        <p><strong>250€/mois</strong></p>
      </div>
    </div>
    <div class="bottom-card">
      <h4>Superbe appartement</h4>
      <p>Autonomie : 1/5</p>
    </div>
  </div>

</div>
