<div class="title-conteneur">
  <h2>Résultats pour Nice :</h2>
</div>
<div>
  <div class="conteneur-card">
    <div class="flat-card">
      <div class="top-card">
        <div class="flat-profile">
          <i class="fa-solid fa-circle" style="color: #25316d;"></i>
          <p>giselle78</p>
        </div>
        <div class="flat-locality">
          <i class="fa-solid fa-location-pin" style="color: #25316d;"></i>
          <p>Nice</p>
        </div>
      </div>
      <div class="flat-picture">

      </div>
      <div class="flat-icons-price">
        <div class="card-icons">
          <i class="fa-regular fa-heart fa-xl" style="color: #25316d;"></i>
          <i class="fa-solid fa-pen-to-square fa-xl" style="color: #25316d;"></i>
          <i class="fa-regular fa-message fa-xl" style="color: #25316d;"></i>
        </div>
        <div class="flat-price">
          <p><strong>250€/mois</strong></p>
        </div>
      </div>
      <%# <div class="bottom-card">
        <h4>Superbe appartement</h4>
        <p>Autonomie : 1/5</p>
      </div> %>
    </div>
    <div class="flat-descr">
      <h2>Superbe appartement</h2>
      <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.</p>
      <h4>Autonomie : 1/5</h4>
    </div>
  </div>
    <div class="bordure">
    </div>
</div>
