.mapindex {
  height: calc(100vh - 100px);
  width: 40vw;
  top: 90px;
}

.mapboxgl-popup {
  max-width: 200px;
  display: flex;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  align-items: center;
}
