.mapindex {
  height: calc(100vh - 100px);
  width: 40vw;
  top: 90px;
  border-radius: 10px;
}

.mapboxgl-popup {
  max-width: 200px;
  display: flex;
}

.mapboxgl-popup-content {
  text-align: center;
  align-items: center;
  padding: 10px 10px 0px;
  p {
    margin: 0;
  }
}
